ACTION!="add", GOTO="gpio_end"

KERNEL=="gpio[0-9]*", SUBSYSTEM=="gpio", ACTION=="add", PROGRAM="/usr/bin/gpio_pin.sh %p"
ENV{OF_NAME}=="gpio", SUBSYSTEM=="platform", ACTION=="add", PROGRAM="/usr/bin/gpio_pin.sh enable"

LABEL="gpio_end"
